<!-- Loop over each post -->
<div class="post">
  {{#each posts as |post|}}
    <h3>
      <a href="/post/{{id}}">
        <div>{{postTitle}}
        </div>
      </a>
    </h3>
    <div>Posted by
      {{user.username}}
      on
      {{format_date post.postDate}}
    </div>
    <p class="card-body">
      {{postContent}}
    </p>
  {{/each}}
</div>