<div class="post">
  <div class="post-row">
    <div>
      <h3>
        <a href="/post/{{id}}">
          <div class="title">{{postTitle}}
          </div>
        </a>
      </h3>
    </div>
    <div class="post-user">
      <h6>
        Posted by
        {{user.username}}
        on
        {{format_date postDate}}
      </h6>
    </div>
  </div>
  <div class="post-content">
    <p class="card-body">
      {{postContent}}
    </p>
  </div>
</div>

<input id="postId" type="hidden" name="postId" value="{{post.id}}" />

<form class="form new-comment-form">
  <div class="form-group">
    <label for="comment-content">Comment:</label>
    <input
      class="form-input"
      type="text"
      id="comment-content"
      name="comment-content"
    />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="comments">
  {{#each comments as |comment|}}
    <div>
      <p>
        {{commentContent}}
        by
        {{user.username}}
        {{format_date createdAt}}
      </p>
    </div>
  {{/each}}
</div>

<script src="/js/comment.js"></script>